# Fichero que indicará ciertos ficheros que Git no añadirá automáticamente o más aun,
# que ni siquiera aparezcan como no rastreados.

# Las reglas sobre los patrones que puedes incluir en el archivo ".gitignore" son:
#
#   · Ignorar las líneas que comiencen por #
#
#   · Utilizar patrones glob, ó expresión regular simplificada usada por los terminales. 
#     Un asterisco (*) corresponde a cero o más caracteres; [abc] corresponde a cualquier 
#     caracter dentro de los corchetes (en este caso a, b o c); el signo de interrogación 
#     (?) corresponde a un caracter cualquiera; y los corchetes sobre caracteres separados 
#     por un guión ([0-9]) corresponde a cualquier caracter entre ellos (en este caso del 
#     0 al 9). También puedes usar dos asteriscos para indicar directorios anidados; a/**/z 
#     coincide con a/z, a/b/z, a/b/c/z, etc.
#
#   · Los patrones pueden comenzar en barra (/) para evitar recursividad.
#
#   · Los patrones pueden terminar en barra (/) para especificar un directorio.
#
#   · Los patrones pueden negarse si se añade al principio el signo de exclamación (!).

# ignora los archivos terminados en .class
*.class

# ignora todos los archivos del directorio .vscode/
.vscode/

# ignora bin/org/barajas/ies/Principal.class, pero no: 
#   bin/org/barajas/ies/entities/Registro.class
#   bin/org/barajas/ies/entities/Usuario.class
#   bin/org/barajas/ies/services/Gestion.class
#   bin/org/barajas/ies/util/Utilidad.class
bin/org/barajas/ies/*.class

# ignora todos los archivos .class del directorio bin/ y de sus subdirectorios
bin/**/*.class